<% publications.forEach((article)=>{ %>
    <tr>
        <td>
            <%= article.Author.firstName %>
                <%=article.Author.lastName %>
        </td>
        <td>
            <%= article.Publication.title %>
        </td>
        <td>
            <%= article.Publication.datePublished.toDateString()%>
        </td>
        <td title="View Content">
            <a class="btn btn-sm btn-outline-primary" 
                onclick='_view("/api/articles/view/<%=article._id %>")'>
                <i class="fa fa-eye"></i>
            </a>

        </td>
    </tr>

    <% }); %>
    <script>
        function _view(id){
            $('viewOne').load(id)
        }
    </script>
