<% publications.forEach(function(article){ %>
<tr>
    <td><%= article.Author.firstName %> <%=article.Author.lastName %></td>
    <td><%= article.Publication.title %></td>
    <td><%= article.Publication.datePublished.toDateString()%></td>
    <td title="View Content">
        <a href="/api/view/<%=article._id %>" class="btn btn-sm btn-outline-primary"><i class="fa fa-eye"></i>
        </a>
    </td>
</tr>
<% }); %>
